
#login #otp_challenge {
	position: relative;
	top: -8px;
	font-size: 13px;
}

#otp_challenge {
	font-style: italic;
	color: #555555;
}

#otp_sequence {
	font-weight: bold;
	font-size: 110%;
}

#otp_notice {
	background-color: #FFFBCC;
}

#otp_resources {
	float: right;
	padding: 10px;
	width: 180px;
	margin-top: 30px;
	border: 1px solid #CCCCCC;
	background-color: #FFFEEB;
}

#otp_resources h3 {
	margin: 0.5em 0 1em 0;
}

#otp_resources form {
	margin: 1em 0 0.5em 0;
}

#otp_auth_window {
	display: none;
	padding: 10px;
}

#simplemodal-overlay {
	background-color: #000;
	cursor: wait;
}

#simplemodal-container {
	background-color: #fff;
	border: 3px solid #ccc;
}

#simplemodal-container a.modalCloseX,
#simplemodal-container a.modalCloseX:link,
#simplemodal-container a.modalCloseX:active,
#simplemodal-container a.modalCloseX:visited {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	position: absolute;
	top: 5px;
	right: 10px;
	color: #ddd;
}
#simplemodal-container a.modalCloseX:hover {
	color: #9bb3b3;
}

#otp_admin {
	float: left;
}

.otp_message {
	font-weight: bold;
	color: red;
}

#otp_count {
	width: 50px;
	text-align: right;
}

.otp_hint {
	margin: 0 0 0 10px;
}

#otp_list {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	margin: 10px 0;
}

#otp_list th, #otp_list td {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	font-size: 10px;
}

.otp_legend {
	border-spacing: 5px;
	margin: 10px 0;
}

.otp_legend th {
	text-align: left;
}

