
/*
	Style sheet One-Time Password WordPress Plugin
*/

/* Challenge on login screen */
#login #otp_challenge {
	position: relative;
	top: -8px;
	font-size: 13px;
}

/* Challenge on login/authorize screen */
#otp_challenge {
	font-style: italic;
	color: #555555;
}

/* Sequence number of challenge */
#otp_challenge_seq {
	font-weight: bold;
	font-size: 110%;
}

/* Admin panel */
#otp_admin_panel {
	float: left;
}

/* Admin panel count/sequence */
#otp_admin_count {
	width: 50px;
	text-align: right;
}

/* Admin panel explanations */
.otp_admin_hint {
	margin: 0 0 0 10px;
}

.otp_admin_info {
	font-style: italic;
}

/* Admin panel warning */
.otp_admin_warning {
	font-weight: bold;
}

/* Admin panel errors */
.otp_admin_error {
	font-weight: bold;
	color: red;
}

/* Form password list */
#otp_list_print {
	padding-bottom: 10px;
}

/* Printed area password list */
#otp_list_area {
}

/* Header password list */
#otp_list_header {
	border-spacing: 5px;
	margin: 10px 0;
}

#otp_list_header th {
	text-align: left;
}

/* Body password list */
#otp_list_body {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	margin: 10px 0;
}

#otp_list_body th, #otp_list_body td {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	font-size: 10px;
}

/* Administrative notices */
.otp_admin_notice {
	background-color: #FFFBCC;
}

.otp_admin_notice p {
	font-weight: bold;
}

/* Authorization window */
#otp_auth_window {
	display: none;
	padding: 10px;
}

/* Resources info panel */
#otp_resources_panel {
	float: right;
	padding: 10px;
	width: 180px;
	margin-top: 30px;
	border: 1px solid #CCCCCC;
	background-color: #FFFEEB;
}

/* Heading info panel */
#otp_resources_panel h3 {
	margin: 0.5em 0 1em 0;
}

/* Donate form info panel */
#otp_resources_panel form {
	margin: 1em 0 0.5em 0;
}

/* SimpleModel */

#simplemodal-overlay {
	background-color: #000;
	cursor: wait;
}

#simplemodal-container {
	background-color: #fff;
	border: 3px solid #ccc;
}

#simplemodal-container a.modalCloseX,
#simplemodal-container a.modalCloseX:link,
#simplemodal-container a.modalCloseX:active,
#simplemodal-container a.modalCloseX:visited {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	position: absolute;
	top: 5px;
	right: 10px;
	color: #ddd;
}
#simplemodal-container a.modalCloseX:hover {
	color: #9bb3b3;
}
