
#login #otp_challenge {
	position: relative;
	top: -8px;
	font-size: 13px;
}

.otp_message {
	font-weight: bold;
	color: red;
}

.otp_hint {
	margin: 0 0 0 10px;
}


.otp_challenge {
	font-style: italic;
	color: #555555;
}

#otp_list {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	margin: 10px 0;
}

#otp_list th, #otp_list td {
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	font-size: 10px;
}

.otp_legend {
	border-spacing: 5px;
	margin: 10px 0;
}

.otp_legend th {
	text-align: left;
}

